[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
pytest = "*"
pytest-watch = "*"
pytest-testmon = "*"
pytest-django = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"
