{% extends 'layout.html' %}

{% block content %}
<form>
  {{ form.sepulki }}
  <input type="submit" value="Сепуленье"/>
</form>
{% endblock %}


{% block scripts %}
<script>
const token = "{{ csrf_token() }}"
const headers = {
  "X-CSRFToken": token,
  'Content-type': 'application/x-www-form-urlencoded'
}

function ajax_submit(e) {
  e.preventDefault()
  const data = new FormData(document.querySelector("form"))
  axios.post(
      "{{ url_for('sepulenie') }}",
      data,
      { headers: headers })
        .then(response => {
          console.log(response)
          notie.alert({
            'text': response.data.message,
            'position': 'bottom'
          })
        })
        .catch(response => {
          notie.alert({
            'type': 'error',
            'position': 'bottom',
            'text': 'Could not sepulate...'
          })
        })
}

form.addEventListener("submit", ajax_submit);

</script>
{% endblock %}
